body {
  margin: 0 auto;
  padding-left: 300px;
  padding-right: 300px;
}

html {
  /*background-color: #f0f7ee;*/
  font-size: 20px;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  width: 600px;
  margin: 0 auto;
  font-size: 100px;
}

li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
}

a {
  color: #c4d7f2;
  font-size: 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.description-text {
  font-size: 20px;
  text-align: left;
  color: black;
  padding: 20px;
}

.description-text-book > .text-short {
  bottom: 20px;
}

.author-image {
  width: 407px;
  height: 587px;
}

.text-short {
  max-height: 150px;
  position: relative;
  bottom: 39px;
}

.charity > .charity-text > .text-short {
  margin-left: 180px;
  max-height: 150px;
  bottom: 20px;
}

.charity > .charity-text > .text-long {
  display: block;
  max-height: 150px;
  position: relative;
  left: 80px;
  margin-bottom: 192px;
  width: 80%;
}

.charity > .read-more-btn {
  margin-left: 180px;
}

.text-long {
  display: none; /* Hide initially */
  transition: display 0.3s ease;
}

.text-expanded {
  display: block; /* When expanded, show the text */
}

.read-more-btn {
  display: block;
  margin-top: 10px;
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.read-more-btn:hover {
  background-color: black;
}

.read-more-btn-book-link {
  display: block;
  margin-top: 10px;
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.read-more-btn-book-link:hover {
  background-color: black;
}

.author-info {
  margin: 50px;
}

.content {
  padding: 20px;
  display: flex;
}

.book-image {
  height: auto;
  margin-left: 20px;
  margin-right: 50px;
}

.charity > .charity-text > .text-short {
  margin-left: 80px;
}

.charity-text > .read-more-btn {
  margin-left: 80px;
}

.book-image img {
  width: auto;
  height: 452px;
}

.content-pocetna {
  padding: 20px;
}

.cover-image img {
  width: 300px;
}

.line-break {
  height: 5px;
  width: 100%;
  color: pink;
}

.line-splitter {
  border: 0;
  height: 3px;
  background: gray;
  margin: 20px 0;
}

.author-section {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.cover-image {
  margin-right: 20px;
}

.order-button {
  border-radius: 30px;
}
.order-button {
  height: 150px;
  width: 300px;
  background-color: grey;
  margin: 0 auto;
  position: relative;
}

.book-section {
  display: grid;
  grid-template-areas: "book-image text";
  grid-template-columns: 1fr 2fr;
}

.charity-image {
  margin-right: 40px;
  width: 165px;
  margin-left: 70px;
}

.charity {
  display: flex;
}

.email img {
  width: 50px;
}

.instagram img {
  width: 50px;
}

.book-link {
  color: black;
  text-align: center;
  margin: 0 auto;
  position: inherit;
  top: 50px;
  font-size: xx-large;
}

.email {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  flex-wrap: nowrap;
}

.contact {
  display: flex;
  font-size: 15px;
}

.instagram {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  margin-left: 107px;
}

.email-text {
  margin-top: 10px;
  margin-left: 20px;
}

.instagram-text {
  margin-top: 10px;
  margin-left: 20px;
}

.instagram {
  margin-bottom: 10px;
}

.upload-box {
  width: 200px;
  height: 50px;
  background-color: pink;
}

.first-name-box {
  width: 200px;
  height: 50px;
  background-color: pink;
}

.last-name-box {
  width: 200px;
  height: 50px;
  background-color: pink;
}

.email-box {
  width: 200px;
  height: 50px;
  background-color: pink;
}

.phone-box {
  width: 200px;
  height: 50px;
  background-color: pink;
}
